{% macro tableSmallRow(heading, class, value, link) %}
    <tr>
        <th>{{ heading }}</th>
        <td class="{{ class }}">{% if link %}<a href="{{ link }}" title="{{ value }}">{% endif %}{{ value }}{% if link %}</a>{% endif %}</td>
    </tr>
{% endmacro %}

{% macro tableBigRow(rank, url, customURL, hits, added, isAdmin, id) %}
    <tr>
        <td class="rank">{{ rank }}</td>
        <td class="fullURL"><a href="{{ url }}" title="{{ url }}">{{ url }}</a></td>
        <td class="customURL"><a href="{{ customURL}}" title="{{ customURL }}">{{ customURL }}</a></td>
        <td class="hits">{{ hits }}</td>
        <td class="added">{{ added }}</td>
        {% if isAdmin == true and id  %}
        <td class="admin"><a href="{{ path_for('deleteEntry', {'id' : id}) }}">Delete</a></td>
        {% endif %}
    </tr>
{% endmacro %}

{% macro paginationLink(page, currentPage, search, sort, sortOrder, displayItems) %}
    {% if currentPage != page %}
    <a href="?page={{ page }}{% if search %}&search={{ search }}{% endif %}{% if not(sort=="added" and sortOrder=="desc") %}{% if sort %}&sort={{sort}}{% endif %}{% if sortOrder %}&sortOrder={{ sortOrder }}{% endif %}{% endif %}{% if displayItems and displayItems != 10 %}&displayItems={{ displayItems }}{% endif %}">
    {% endif %}
        <span class="page"{% if currentPage == page %} id="currentPage"{% endif %}>{{ page }}</span>
    {% if currentPage != page %}
    </a>
    {% endif %}
{% endmacro %}

