{% import "macros.twig" as macros %}

{% extends 'layout.twig' %}
{% block content %}
<h2>All Entries</h2>

<p id="link">
    <a href="{{ path_for('home') }}">Add Website</a>
    {% if isAdmin %}
        <a href="{{ path_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ path_for('admin') }}">Admin Login</a>
    {% endif %}
</p>

<section id="adminMessages">
    {% for message in flash.message("adminLoginSuccess") %}
        <p class="adminLoginSuccess">{{ message }} <button class="closeButton">x</button></p>
    {% endfor %}
    {% for message in flash.message("adminLoginFail") %}
        <p class="adminLoginFail">{{ message }} <button class="closeButton">x</button></p>
    {% endfor %}
</section>
 
<section id="filterResults">
    <form id="filterResultsForm" action"#" method="get">
        <fieldset>
            <legend>Filters: </legend>
            <label for="search">Search: </label>
            <input type="text" id="search" name="search"{% if search %} value="{{ search }}"{%endif%}><br>
            <label for="sort">Sort: </label>
            <select id="sort" name="sort">
                <option value="added"{% if sort == "added" or not sort %} selected{% endif %}>Added</option>
                <option value="hits"{% if sort == "hits" %} selected{% endif %}>Hits</option>
                <option value="fullURL"{% if sort == "fullURL" %} selected{% endif %}>Full URL</option>
                <option value="customURL"{% if sort == "customURL" %} selected{% endif%}>Custom URL</option>
            </select>
            <select id="sortOrder" name="sortOrder">
                <option value="desc" selected>Desc</option>
                <option value="asc">Asc</option>
            </select><br> 
            <label for="displayItems"># per page: </label>
            <select id="displayItems" name="displayItems">
                <option value="5"{% if displayItems == 5 %} selected{% endif %}>5</option>
                <option value="10"{% if not displayItems or displayItems == 10 %} selected{% endif %}>10</option>
                <option value="20"{% if displayItems == 20 %} selected{% endif %}>20</option>
                <option value="50"{% if displayItems == 50 %} selected{% endif %}>50</option>
                <option value="100"{% if displayItems == 100 %} selected{% endif %}>100</option>
                <option value="all"{% if displayItems == "all" %} selected{% endif %}>Show all</option>
            </select><br>
            <input type="submit" value="Apply Filters">
        </fieldset>
    </form>
</section>

<section id="pageSelect">
    <div id="paginationSmall">
        {% if pages.numItems >= 1 %}
            <p>
                {% if pages.hasPrevPage() %}
                    <a href="?page={{ pages.currentPage - 1 }}{% if search %}&search={{ search }}{% endif %}{% if not (sort == "added" and sortOrder == "desc") %}{% if sort %}&sort={{ sort }}{% endif %}{%if sortOrder %}&sortOrder={{ sortOrder }}{% endif %}{% endif %}{% if displayItems and displayItems != 10 %}&displayItems={{ displayItems }}{% endif %}">
                        <img src="images/leftArrow.png" alt="prevPage">
                    </a>
                {% else %}
                    <img src="images/leftArrowGrey.png" alt="prevPage">
                {% endif %}
                <select id="pageSelectSmall" name="pageSelectSmall">
                {% if pages.getNumPages() != 0 %}
                    {% for page in range(1, pages.getNumPages()) %}
                        <option value="{{ page }}"{% if page == pages.currentPage %} selected {% endif %}>{{ page }} of {{ pages.getNumPages() }}</option>
                    {% endfor %}
                {% endif %}
                </select>
                {% if pages.hasNextPage() %}
                    <a href="?page={{ pages.currentPage + 1}}{% if search %}&search={{ search }}{% endif %}{% if not(sort == "added" and sortOrder == "desc") %}{% if sort %}&sort={{ sort }}{% endif %}{% if sortOrder %}&sortOrder={{ sortOrder }}{% endif %}{% endif %}{% if displayItems and displayItems != 10 %}&displayItems={{ displayItems }}{% endif %}">
                        <img src="images/rightArrow.png" alt="nextPage">
                    </a>
                {% else %}
                    <img src="images/rightArrowGrey.png" alt="nextPage">
                {% endif %}
            </p>
        {% endif %}
    </div>

    <div id="paginationBig">
        <p>
            {% if pages.hasPrevPage() %}
                <a href="?page={{ pages.currentPage - 1 }}{% if search %}&search={{ search }}{% endif %}{% if not (sort == "added" and sortOrder == "desc") %}{% if sort %}&sort={{ sort }}{% endif %}{%if sortOrder %}&sortOrder={{ sortOrder }}{% endif %}{% endif %}{% if displayItems and displayItems != 10 %}&displayItems={{ displayItems }}{% endif %}">
                    <span class="page">Prev</span>
                </a>
            {% endif %}
            
            {% if pages.getNumPages() <= 10 %}
                {% if pages.getNumPages() != 0 %}
                    {% for page in range(1, pages.getNumPages()) %}
                        {{ macros.paginationLink(page, pages.currentPage, search, sort, sortOrder, displayItems) }}
                    {% endfor %}
                {% endif %}
            {% else %}
                {% if pages.currentPage <= 6 %}
                    {% for page in range(1,10) %}
                        {{ macros.paginationLink(page, pages.currentPage, search, sort, sortOrder, displayItems) }}
                    {% endfor %}
                    ...
                    {{ macros.paginationLink(pages.getNumPages(), pages.currentPage, search, sort, sortOrder, displayItems) }}
                {% elseif pages.currentPage >= pages.getNumPages() - 5 %}
                    {{ macros.paginationLink(1, pages.currentPage, search, sort, sortOrder, displayItems) }} 
                    ...
                    {% for page in range(pages.getNumPages() - 9, pages.getNumPages()) %}
                        {{ macros.paginationLink(page, pages.currentPage, search, sort, sortOrder, displayItems) }}
                    {% endfor %}
                {% else %}
                    {{ macros.paginationLink(1, pages.currentPage, search, sort, sortOrder, displayItems) }} 
                    ...
                    {% for page in range(pages.currentPage-4, pages.currentPage+4) %}
                        {{ macros.paginationLink(page, pages.currentPage, search, sort, sortOrder, displayItems) }}
                    {% endfor %}
                    ... 
                    {{ macros.paginationLink(pages.getNumPages(), pages.currentPage, search, sort, sortOrder, displayItems) }} 
                {% endif %}
            {% endif %}
            {% if pages.hasNextPage() %}
                <a href="?page={{ pages.currentPage + 1}}{% if search %}&search={{ search }}{% endif %}{% if not(sort == "added" and sortOrder == "desc") %}{% if sort %}&sort={{ sort }}{% endif %}{% if sortOrder %}&sortOrder={{ sortOrder }}{% endif %}{% endif %}{% if displayItems and displayItems != 10 %}&displayItems={{ displayItems }}{% endif %}">
                    <span class="page">Next</span>
                </a>
            {% endif %}
        </p>
    </div>

</section>

<section id="results">
    <table id="addResultsSmall" class="smallTable">
        <caption>Results</caption>
        {% if not allResults %}
            <tr><td class="noData">No Data</td></tr>
        {% else %}
            {% for result in allResults %}
                {{ macros.tableSmallRow('#', 'rank', loop.index + pages.calculateOffset()) }}
                {{ macros.tableSmallRow('Full URL', 'fullURL', result.url, true) }}
                {{ macros.tableSmallRow('Custom URL', 'customURL', baseURL ~ result.shortname, true) }}
                {{ macros.tableSmallRow('Hits', 'hits', result.hits) }}
                {{ macros.tableSmallRow('Added', 'added', result.added|slice(0,10)) }}
                <tr class="blankRow"><td colspan="2"></td></tr>
            {% endfor %}
        {% endif %}
    </table>

    <table id="allResultsBig" class="bigTable">
        <caption>Results</caption>
        <tr>
            <th class="rank">#</th>
            <th class="fullURL">Full URL</th>
            <th class="customURL">Custom URL</th>
            <th class="hits">Hits</th>
            <th class="added">Added</th>
        </tr>
        {% if not allResults %}
            <tr><td colspan="5" class="noData">No Data</td></tr>
        {% else %}
            {% for result in allResults %}
                {{ macros.tableBigRow(loop.index + pages.calculateOffset(), result.url, baseURL ~ result.shortname, result.hits, result.added|slice(0,10)) }} 
            {% endfor %}
        {% endif %}
    </table>
</section>

{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <script>
    {% if search %}
        var searchValue = "{{ search }}";
    {% else %}
        var searchValue = false;
    {% endif %}

    {% if sort %}
        var sortValue = "{{ sort }}";
    {% else %}
        var sortValue = "added";
    {% endif %}

    {% if sortOrder %}
        var sortOrderValue = "{{ sortOrder }}";
    {% else %}
        var sortOrderValue = "desc";
    {% endif %}

    {% if displayItems %}
        var displayItemsValue = "{{ displayItems }}";
    {% else %}
        var displayItemsValue = "10";
    {% endif %}
    </script>

    <script src="js/all.js"></script>
{% endblock %}

