{% macro tableSmallRow(heading, class, value, valueIsLink) %}
    <tr>
        <th>{{ heading }}</th>
        <td class="{{ class }}">{% if valueIsLink == true %}<a href="{{ value }}" title="{{ value }}">{% endif %}{{ value }}{% if valueIsLink == true %}</a>{% endif %}</td>
    </tr>
{% endmacro %}

{% macro tableBigRow(rank, url, customURL, hits, added) %}
    <tr>
        <td class="rank">{{ rank }}</td>
        <td class="fullURL"><a href="{{ url }}" title="{{ url }}">{{ url }}</a></td>
        <td class="customURL"><a href="{{ customURL}}" title="{{ customURL }}">{{ customURL }}</a></td>
        <td class="hits">{{ hits }}</td>
        <td class="added">{{ added }}</td>
    </tr>
{% endmacro %}

{% macro paginationLink(page, currentPage, search, sort, sortOrder) %}
    <a href="?page={{ page }}{% if search %}&search={{ search }}{% endif %}{% if not(sort=="added" and sortOrder=="desc") %}{% if sort %}&sort={{sort}}{% endif %}{% if sortOrder %}&sortOrder={{ sortOrder }}{% endif %}{% endif %}">
        <span class="page"{% if currentPage == page %} id="currentPage"{% endif %}>{{ page }}</span>
    </a>
{% endmacro %}

